<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="navigation">
    <classes>
      <class name="ABT_demo.ABTA_1.standalone"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Tripdetails">
    <classes>
      <class name="ABT_demo.ABTA_1.Tripdetails"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
